.logo {
    height: 100%;
    width: 3rem;
    object-fit: cover;
}

.user-img {
    width: 3rem;
}

.navbar {
    width: 100%;
}



@media screen and (max-width:576px) {
    .logo {
        width: 100%;
        height: 100%;
    }

    .user-img {
        width: 2rem;
    }

    .navbar {
        width: 100%;
    }

}

/* 2nd Mobile device */
@media screen and (min-width:360px) and (max-width:575px) {
    .navbar {
        width: 100%;
    }
}

/* 3rd Mobile device */
@media screen and (min-width:280px) and (max-width:359px) {
    .navbar {
        width: 100%;
    }
}



/*1st tab device */
@media screen and (min-width:577px) and (max-width: 992px) {
    .navbar {
        width: 100%;
    }
}



/*2nd tab device */
@media screen and (min-width:768px) and (max-width: 1180px) {
    .navbar {
        width: 100%;
    }
}